In [1]:
import graphlab

In [10]:
wiki = graphlab.SFrame.read_csv('https://static.turi.com/datasets/wikipedia/raw/w16.csv', header=False)

Downloading https://static.turi.com/datasets/wikipedia/raw/w16.csv to C:/Users/mayur/AppData/Local/Temp/graphlab-mayur/14472/77801159-5246-4b9b-aebe-855628a2ec4a.csv

Finished parsing file https://static.turi.com/datasets/wikipedia/raw/w16.csv

Parsing completed. Parsed 100 lines in 0.260345 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Read 12336 lines. Lines per second: 29101.2

Finished parsing file https://static.turi.com/datasets/wikipedia/raw/w16.csv

Parsing completed. Parsed 72269 lines in 0.917578 secs.

In [11]:
wiki

Columns:
	X1	str

Rows: 72269

Data:
+-------------------------------+
|               X1              |
+-------------------------------+
| alainconnes alain connes i... |
| americannationalstandardsi... |
| alberteinstein near the be... |
| austriangerman as german i... |
| arsenic arsenic is a metal... |
| alps the alps alpen alpi a... |
| alexiscarrel born in saint... |
| adelaide adelaide is a coa... |
| artist an artist is a pers... |
| abdominalsurgery the three... |
+-------------------------------+
[72269 rows x 1 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
wiki['word_count'] = graphlab.text_analytics.count_words(wiki['X1'])

In [14]:
wiki.head()

Columns:
	X1	str
	word_count	dict

Rows: 10

Data:
+-------------------------------+-------------------------------+
|               X1              |           word_count          |
+-------------------------------+-------------------------------+
| alainconnes alain connes i... | {'and': 7L, 'work': 2L, 'n... |
| americannationalstandardsi... | {'operations': 1L, 'invite... |
| alberteinstein near the be... | {'pardon': 1L, 'absentmind... |
| austriangerman as german i... | {'limited': 1L, 'gr': 1L, ... |
| arsenic arsenic is a metal... | {'magnetic': 2L, 'yellow':... |
| alps the alps alpen alpi a... | {'all': 4L, 'chain': 4L, '... |
| alexiscarrel born in saint... | {'limited': 1L, 'all': 1L,... |
| adelaide adelaide is a coa... | {'limited': 1L, 'comparati... |
| artist an artist is a pers... | {'breadth': 1L, 'all': 1L,... |
| abdominalsurgery the three... | {'and': 2L, 'aseptic': 1L,... |
+-------------------------------+-------------------------------+
[10 rows x 2 columns]

In [16]:
wiki['tfidf'] = graphlab.text_analytics.tf_idf(wiki['word_count'])

In [17]:
wiki

Columns:
	X1	str
	word_count	dict
	tfidf	dict

Rows: 72269

Data:
+-------------------------------+-------------------------------+
|               X1              |           word_count          |
+-------------------------------+-------------------------------+
| alainconnes alain connes i... | {'and': 7L, 'work': 2L, 'n... |
| americannationalstandardsi... | {'operations': 1L, 'invite... |
| alberteinstein near the be... | {'pardon': 1L, 'absentmind... |
| austriangerman as german i... | {'limited': 1L, 'gr': 1L, ... |
| arsenic arsenic is a metal... | {'magnetic': 2L, 'yellow':... |
| alps the alps alpen alpi a... | {'all': 4L, 'chain': 4L, '... |
| alexiscarrel born in saint... | {'limited': 1L, 'all': 1L,... |
| adelaide adelaide is a coa... | {'limited': 1L, 'comparati... |
| artist an artist is a pers... | {'breadth': 1L, 'all': 1L,... |
| abdominalsurgery the three... | {'and': 2L, 'aseptic': 1L,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'and': 1.2270448469373905... |
| {'operations': 3.503826479... |
| {'pardon': 6.6663619701321... |
| {'limited': 3.313411422009... |
| {'magnetic': 11.3901782076... |
| {'all': 5.585731581952152,... |
| {'limited': 3.313411422009... |
| {'limited': 3.313411422009... |
| {'breadth': 6.911484428165... |
| {'and': 0.3505842419821116... |
+-------------------------------+
[72269 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [22]:
wiki[['word_count']].stack('word_count',new_column_name = ['word','count']).sort('count',ascending = False)

Columns:
	word	str
	count	int

Rows: 11831259

Data:
+------+-------+
| word | count |
+------+-------+
| the  |  1653 |
| the  |  1180 |
| the  |  1046 |
| the  |  989  |
| the  |  924  |
| the  |  921  |
| the  |  876  |
| the  |  874  |
| the  |  869  |
| the  |  866  |
+------+-------+
[11831259 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
 wiki[['tfidf']].stack('tfidf',new_column_name = ['word','tfidf']).sort('tfidf',ascending = False)

Columns:
	word	str
	tfidf	float

Rows: 11831259

Data:
+------------+---------------+
|    word    |     tfidf     |
+------------+---------------+
|    triq    | 3773.48730868 |
|   pokmon   | 2474.17685086 |
|   imagin   | 2450.20496983 |
|   wiggly   | 2058.38979907 |
| kryptonite | 1958.22987691 |
|  betances  | 1947.28088389 |
|   chacha   | 1913.14376241 |
|   gators   | 1779.48379644 |
|   anita    | 1616.11278022 |
|  lindwall  | 1609.22372264 |
+------------+---------------+
[11831259 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [33]:
docs = wiki['word_count'].dict_trim_by_values(2)

In [35]:
docs = docs.dict_trim_by_keys(graphlab.text_analytics.stopwords(), exclude=True)

In [37]:
model = graphlab.topic_model.create(docs)

Learning a topic model

       Number of documents     72269

           Vocabulary size    170715

   Running collapsed Gibbs sampling

+-----------+---------------+----------------+-----------------+

| Iteration | Elapsed Time  | Tokens/Second  | Est. Perplexity |

+-----------+---------------+----------------+-----------------+

| 10        | 1.93s         | 1.18719e+007   | 0               |

+-----------+---------------+----------------+-----------------+

In [40]:
print model.get_topics().sort('score',ascending = False)

+-------+--------+-----------------+
| topic |  word  |      score      |
+-------+--------+-----------------+
|   4   | school | 0.0359688215067 |
|   7   | world  | 0.0221774196468 |
|   7   | years  | 0.0207710629435 |
|   6   |  city  | 0.0198943792136 |
|   2   | music  | 0.0188753482688 |
|   4   |  film  | 0.0187920985116 |
|   8   | season | 0.0181568949618 |
|   2   |  age   | 0.0179863489592 |
|   8   |  team  | 0.0177746332467 |
|   7   | album  | 0.0166475845353 |
+-------+--------+-----------------+
[50 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [42]:
print model.get_topics(output_type = 'topic_words')

+-------------------------------+
|             words             |
+-------------------------------+
| [party, played, won, law, ... |
| [state, time, people, life... |
| [music, age, 2, street, di... |
| [states, united, 2009, ban... |
| [school, film, university,... |
| [war, time, game, year, co... |
| [city, church, north, part... |
| [world, years, album, stud... |
| [season, team, area, south... |
| [years, army, power, 18, a... |
+-------------------------------+
[10 rows x 1 columns]

In [43]:
model

Class                          : TopicModel

Schema
------
Vocabulary Size                : 170715

Settings
--------
Number of Topics               : 10
alpha                          : 5.0
beta                           : 0.1
Iterations                     : 10
Training time                  : 2.9319
Verbose                        : False

Accessible fields             :
m['topics']                   : An SFrame containing the topics.
m['vocabulary']               : An SArray containing the words in the vocabulary.
Useful methods                :
m.get_topics()                : Get the most probable words per topic.
m.predict(new_docs)           : Make predictions for new documents.

In [44]:
pred = model.predict(docs)

In [48]:
docs_in_topic_4 = docs[model.predict(docs) == 4]

In [55]:
model['topics']

Columns:
	topic_probabilities	array
	vocabulary	str

Rows: 170715

Data:
+-------------------------------+--------------+
|      topic_probabilities      |  vocabulary  |
+-------------------------------+--------------+
| [1.59107597308e-07, 1.4591... |   sciences   |
| [1.59107597308e-07, 1.4591... |   academy    |
| [1.59107597308e-07, 1.4591... |    medal     |
| [1.59107597308e-07, 1.4591... | differential |
| [1.59107597308e-07, 1.4591... |   algebras   |
| [1.59107597308e-07, 0.0085... |     work     |
| [1.59107597308e-07, 0.0039... |  including   |
| [4.93233551655e-06, 1.4591... |    connes    |
| [0.000278597402886, 1.4591... |   geometry   |
| [1.59107597308e-07, 1.4591... |   physics    |
+-------------------------------+--------------+
[170715 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [57]:
topics = model.get_topics(num_words=10).unstack(['word','score'], new_column_name='topic_words')['topic_words'].apply(lambda x: x.keys())
for topic in topics:
    print topic

['played', 'top', 'system', 'won', 'place', 'members', 'act', 'party', 'law', 'radio']
['made', 'court', 'de', 'number', 'states', 'band', 'united', '2007', '2008', '2009']
['high', 'life', 'police', 'people', 'work', 'political', 'water', 'early', 'state', 'time']
['city', 'north', 'century', 'club', 'west', 'began', 'st', 'part', 'york', 'church']
['living', 'street', 'district', 'people', 'age', 'community', 'live', '2', 'music', '65']
['league', 'area', 'german', 'season', 'company', 'de', 'air', 'team', 'line', 'south']
['war', 'government', 'national', 'year', 'british', 'general', 'game', 'college', 'time', 'day']
['building', 'school', 'family', 'series', 'university', 'county', 'american', 'station', 'film', 'population']
['king', 'death', 'based', 'power', 'army', '18', 'years', 'aircraft', 'version', 'battle']
['album', 'made', 'world', 'show', 'students', 'years', 'released', 'international', 'home', '2010']